[submodule "test/glsl-shaders"]
	path = test/glsl-shaders
	url = https://github.com/libretro/glsl-shaders.git
[submodule "test/vk_raytrace"]
	path = test/vk_raytrace
	url = https://github.com/nvpro-samples/vk_raytrace.git
